* { padding: 0; margin: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; color: #00A5CC; }
li { list-style-type: none; }

header { 
	width: 100%;  
	margin: auto;
	border-bottom: 1px solid #EEE;

	display: inline-block;
	text-align: center;
	height: 60px;

	max-height: 70px;
	background-color: #b3e0ff;
}

#brand {
	float: left;
	line-height: 50px;
	color: #E5DAC0;
	font-size: 25px;
	font-weight: bolder;
   margin: 0 0 0 6px;
}
nav { 
	width: 100%; 
 	text-align: center;
}
/*nav a { 
	display: block; 
	padding: 15px 0;
	color: #F0EADC;
}
nav a:hover { background: #E5DAC0; color: #FFF; }*/
nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: rgba(229, 218, 192, 0.9);
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	padding: 10px 20px;
	background: #E5DAC0;
/*	background-image: url(../../img/plus.png);
	background-repeat: no-repeat;
	background-position: center;*/
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	position: fixed;
	top: 3px;
	left: 5px;


}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }


.innercard {
	display: inline-block;
	padding: 10px;
}

.card-descript {
	height: 200px;	
	padding : 24px;
	border: none;
	background-color: #fff;
	-webkit-box-shadow: -11px 19px 19px -4px rgba(112,106,112,1);
	-moz-box-shadow: -11px 19px 19px -4px rgba(112,106,112,1);
	box-shadow: -11px 19px 19px -4px rgba(112,106,112,1);
}

.info {
	margin: 5px 0 5px 0;
}

/*Call to Action Page styling*/


.enter-btns {
	text-align: center; 
	border: 1px, solid, black;
}

.clock {
	max-height: 50px;
}

.timetracker {
	display: inline-block;
	max-width: 80%;
	font-size: 200%;
	font-family: 'Lobster', cursive;
}

body {
	background-color: #f2f2f2;
}

.sidebar-header {
	margin: 10px 0 ;
	font-family: 'Lobster', cursive;
	font-size: 25px;
}

label {
	margin: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	font-size: 20px;
}

.newcardname {
	float: left;
	width: 100%;
	height: 30px;
}

.newform {
	display: inline-block;
	width: 90%;
/*	margin-left: 5%;
	margin-right: auto;*/
}


.btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 50px;
	border: none;
	background-color: #E5DAC0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}

.btn:hover {
	width: 100%;
	text-align: center;
	background-color: #f0eadb ;
}

.btn:active {
   border-top-color: #85c3ed;
   background: #85c3ed;
}

.create-card {
	font-size: 30px;
	background-color: #f0eadb;
	margin-bottom: 15px;	
}

.create-card:hover {
	font-size: 35px;
}

strong {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#time {
	font-size: 430%;
	text-align: center;
	color: #ff0000;
	font-size: 9vh;
}

#descript {
	font-size: 30px;
	word-wrap: break-word;
}

.cPage {
	font-size: 4vh;

}

#cardName {
	margin: 20px 0;
	font-size: 30px;
}

.fb {
	height: 30px;
	padding-right: 20px;
}

.facebook-btn {
	
}

.but-card {
	margin: 3vw auto 1vw;
	width: 40%;
	height: 53px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
}

#control {
	margin: 3vw auto 1vw;
	width: 40%;
	height: 53px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
}

.delete-btn {
	background-color: red;
}

.back-home {
	display: inline-block;
	position: fixed;
	bottom: 30px;
	background-color: #b3e0ff;
	border-radius: 100%;
}

.home-icon {
	padding: 11px;
	height: 70px;
}