* { padding: 0; margin: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; color: #00A5CC; }
li { list-style-type: none; }

header { 
	width: 100%;  
	margin: auto;
	border-bottom: 1px solid #EEE;

	display: inline-block;
	text-align: center;
	height: 60px;

	max-height: 70px;
	background-color: #b3e0ff;
}

#brand {
	float: left;
	line-height: 50px;
	color: #E5DAC0;
	font-size: 25px;
	font-weight: bolder;
   margin: 0 0 0 6px;
}
nav { 
	width: 100%; 
 	text-align: center;
}

nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: rgba(229, 218, 192, 0.9);
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	padding: 10px 20px;
	background: #E5DAC0;
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid white;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	position: fixed;
	top: 3px;
	left: 5px;


}
#menuToggle { 
	display: none; 
}

#menuToggle:checked ~ .menu { 
	position: absolute; left: 0; 
	z-index: 2;
}


.innercard {
	display: inline-block;
	padding: 10px;
}

.card-descript {
	text-align: center;
	height: 200px;	
	padding : 24px;
	border: none;
	background-color: #fff;
	-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
}

.card-descript:hover {
	margin-left: 10px;
    margin-top: -10px;
    width: 100%;
	-webkit-box-shadow: -12px 12px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -12px 12px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -12px 12px 8px 1px rgba(0,0,0,0.3);
}


.info {
	margin: 5% 0;
}

.info-name {
	font-size: 35px;
}

/*Call to Action Page styling*/


.enter-btns {
	text-align: center; 
	border: 1px, solid, black;
}

.clock {
	max-height: 50px;
}

.timetracker {
	display: inline-block;
	max-width: 80%;
	font-size: 200%;
	font-family: 'Lobster', cursive;
}

body {
	background-color: #f2f2f2;
}

.sidebar-header {
	margin: 10px 0 ;
	font-family: 'Lobster', cursive;
	font-size: 25px;
}

label {
	margin: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	font-size: 20px;
}

.newcardname {
	float: left;
	width: 100%;
	height: 30px;
}

.newform {
	display: inline-block;
	width: 90%;
}


.btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 50px;
	border: none;
	background-color: #E5DAC0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}

.btn:hover {
	width: 100%;
	text-align: center;
	background-color: #f0eadb ;
}

.btn:active {
   border-top-color: #85c3ed;
   background: #85c3ed;
}

.create-card {
	font-size: 30px;
	background-color: #f0eadb;
	margin-bottom: 15px;	
}

.create-card:hover {
	font-size: 35px;
}

strong {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.page {
	text-align: center;
	margin-top: 5%;
}

#time {
	display: inline-block;
	font-size: 430%;
	text-align: center;
	color: #ff0000;
	font-size: 9vh;
}

#descript {
	font-size: 30px;
	word-wrap: break-word;
}

.cPage {
	font-size: 4vh;

}

.pageContainer {
	position: relative;
	background-color: white;
    height: 92vh;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

#cardName {
	margin: 50px 0;
	font-size: 50px;
}

.fb {
	height: 30px;
	padding-right: 20px;
}

.facebook-btn {
	
}

.but-card {
	vertical-align: top;
	width: 40%;
	height: 53px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
}

#control {
	width: 50px;
	height: 50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
    margin-left: 30px;
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(66, 244, 89);
    border-radius: 100%;
    border: none;
    -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    outline: none;
}

#control:hover {
	cursor: pointer;
}

.time-form {
	text-align: center;
	margin-bottom: 15px;
}

.delete-btn {
	background-color: red;
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
	border: none;
	margin-left: 30px;
}

.delete-btn {
	cursor: pointer;
}

.back-home {
	display: inline-block;
	position: fixed;
	bottom: 30px;
	background-color: #b3e0ff;
	border-radius: 100%;
}

.home-icon {
	padding: 11px;
	height: 70px;
}


.social-btn {
	position: absolute;
	left: 0;
	top: 110px;
	width: 50px;
	height: 150px;
	text-align: center;
	margin-top: 50px;
	border: none;
	background-color: rgba(0,0,0,0.5);;
}

.but-card {
	width: 30px;
    height: 28px;
    border: none;
    margin: 9px 0px;
}

.facebook-btn {
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.twitter-btn {
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.googleplus-btn {
	background-image: url(../images/google.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}


@media only screen and (max-width: 600px) {
	.social-btn {
		top: unset;
		bottom: 0;
		width: 150px;
		height: 50px;
	}

	.but-card {
		margin: 9px 7px;
	}
}