* { padding: 0; margin: 0; }
body { font-family: sans-serif; }
a { text-decoration: none; color: #00A5CC; }
li { list-style-type: none; }

header { 
	width: 100%;  
	margin: auto;
	border-bottom: 1px solid #EEE;

	display: inline-block;
	text-align: center;
	height: 60px;

	max-height: 70px;
	background-color: #b3e0ff;
}

.hidden {
	display: none;
}

#brand {
	float: left;
	line-height: 50px;
	color: #E5DAC0;
	font-size: 25px;
	font-weight: bolder;
   margin: 0 0 0 6px;
}
nav { 
	width: 100%; 
 	text-align: center;
}

nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 240px;
	height: 100%;
	position: absolute;
	background: rgba(229, 218, 192, 0.9);
	left: -240px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	padding: 10px 20px;
	background: #E5DAC0;
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid white;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	position: fixed;
	top: 3px;
	left: 5px;


}
#menuToggle { 
	display: none; 
}

#menuToggle:checked ~ .menu { 
	position: absolute; left: 0; 
	z-index: 2;
}


.makeNewCard {
	width: 300px;
    margin: 20vh auto;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: -2px 2px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 2px 2px 1px rgba(0,0,0,0.3);
    box-shadow: -2px 2px 2px 1px rgba(0,0,0,0.3);
    padding: 30px;
    animation: fadecolor 2s;
}

@keyframes fadecolor {
	from {
		background-color: rgba(0,0,0,0.7);
	}

	to {
		background-color: white;
	}
}

.innercard {
	display: inline-block;
	padding: 10px;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.card-descript {
	text-align: center;
	height: 200px;	
	padding : 24px;
	border: none;
	background-color: #fff;
	-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
}

.card-descript:hover {
	margin-left: 10px;
    margin-top: -10px;
    width: 100%;
	-webkit-box-shadow: -12px 12px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -12px 12px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -12px 12px 8px 1px rgba(0,0,0,0.3);
}


.info {
	margin: 5% 0;
}

.info-name {
	font-size: 35px;
}

/* Begin - Call to Action Page styling*/
.callContainer {
	background-color: rgba(255,255,255,1.0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
}

.call-first {
	height: 100%;
    width: 100%;
}

.call-fixbackground-carosoul {
	position: relative;
	background-color: lightpink;
	height: 60%;
	text-align: center;
}

.call-btns {
	margin: 8% 0;
}

.signIn,
.signUp {
    display: block;
    margin: 30px auto;
    width: 70%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 6vw;
}

/*Begin - carosoul*/
/* When radio button is checked the nth-of-type will change its background color to indicate that it is the one selected */
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators > :nth-of-type(1) {
  background-color: rgb(0,0,0);
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators > :nth-of-type(2) {
  background-color: rgb(0,0,0);
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators > :nth-of-type(3) {
  background-color: rgb(0,0,0);
}


/* When radio button is checked the .carousel__control:nth-of-type will show the controls for that particular slide */
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
}


/* When radio button is checked the .carousel__slide:nth-of-type will show the current slide selected */
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  display: block;
  animation: showSlide 0.5s;
}

.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  display: block;
  animation: showSlide 0.5s;
}

.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  display: block;
  animation: showSlide 0.5s;
}


/* Controls, Sides, Indicator initial styling */
.carousel__controls {
  	display: none;
    position: absolute;
    width: 100%;
    margin-top: 50%;
    z-index: 2;
}

.carousel__slide {
  	position: absolute;
  	display: none;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.carousel__indicators {
	position: absolute;
    bottom: 0;
    left: 35%;
}

.carousel__indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}

.carousel__control--forward {
	float: right;
}



/**********************************************************
All CSS about is necessary for the carousel to work properly
***********************************************************/
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}


/*End - carousel*/

/*End - call to action page*/

/* Begin - Sign In / Up page */

.signin-cont,
.signup-cont {
	margin: 16vh auto;
	max-width: 550px;
	float: unset;
}

.signup-container,
.signin-container {
	text-align: center;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loginInPut {
    width: 80%;
    height: 60px;
    padding: 0 20px;
    background-color: transparent;
    border: none;
}

.input-container {
	background-color: white;
    border-radius: 7px;
}

.input-img {
	vertical-align: middle;
}

.email-cont {
	border-bottom: 1px solid lightgray;
}

.submit-btn {
	width: 100%;
    height: 45px;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: lightblue;
    margin: 23px 0;
}

.signin,
.signup {
	margin-top: 40px;
}

/* End - Sign In / Up page */

.enter-btns {
	text-align: center; 
	border: 1px, solid, black;
}

.clock {
	max-height: 50px;
}

.timetracker {
	display: inline-block;
	max-width: 80%;
	font-size: 200%;
	font-family: 'Lobster', cursive;
}

body {
	background-color: #f2f2f2;
}

.sidebar-header {
	margin: 10px 0 ;
	font-family: 'Lobster', cursive;
	font-size: 25px;
}

label {
	margin: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	font-size: 20px;
}

.newcardname {
	float: left;
	width: 100%;
	height: 30px;
}

.newform {
	display: inline-block;
	width: 90%;
}


.btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 50px;
	border: none;
	background-color: #E5DAC0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}

.btn:hover {
	width: 100%;
	text-align: center;
	background-color: #f0eadb ;
}

.btn:active {
   border-top-color: #85c3ed;
   background: #85c3ed;
}

.create-card {
	font-size: 30px;
	background-color: #f0eadb;
	margin-bottom: 15px;	
}

.create-card:hover {
	font-size: 35px;
}

strong {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.page {
	text-align: center;
	margin-top: 5%;
}

#time {
	display: inline-block;
	font-size: 430%;
	text-align: center;
	color: #ff0000;
	font-size: 9vh;
}

#descript {
	font-size: 30px;
	word-wrap: break-word;
}

.cPage {
	font-size: 4vh;

}

.pageContainer {
	position: relative;
	background-color: white;
    height: 92vh;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    animation: fadein 2s;
}

#cardName {
	margin: 50px 0;
	font-size: 50px;
}

.fb {
	height: 30px;
	padding-right: 20px;
}

.facebook-btn {
	
}

.but-card {
	vertical-align: top;
	width: 40%;
	height: 53px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
}

#control {
	width: 50px;
	height: 50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4vh;
    margin-left: 30px;
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(66, 244, 89);
    border-radius: 100%;
    border: none;
    -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    outline: none;
}

#control:hover {
	cursor: pointer;
}

.time-form {
	text-align: center;
	margin-bottom: 15px;
}

.delete-btn {
	background-color: red;
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	-webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.6);
	border: none;
	margin-left: 30px;
}

.delete-btn {
	cursor: pointer;
}

.back-home {
	display: inline-block;
	position: fixed;
	bottom: 30px;
	background-color: #b3e0ff;
	border-radius: 100%;
}

.home-icon {
	padding: 11px;
	height: 70px;
}


.social-btn {
	position: absolute;
	left: 0;
	top: 110px;
	width: 50px;
	height: 150px;
	text-align: center;
	margin-top: 50px;
	border: none;
	background-color: rgba(0,0,0,0.5);;
}

.but-card {
	width: 30px;
    height: 28px;
    border: none;
    margin: 9px 0px;
}

.facebook-btn {
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.twitter-btn {
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.googleplus-btn {
	background-image: url(../images/google.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
}

.social-btn {
	top: unset;
	bottom: 0;
	width: 150px;
	height: 50px;
}

.but-card {
	margin: 9px 7px;
}


/*iPhone 6 Landscape*/
@media only screen and (min-width: 600px) {




}	



/*iPad portriot*/
@media only screen and (min-width: 750px) {

	/* Begin - Call To Action Page*/
	.call-timer-img {
		display: inline-block;
		margin-top: 2vh;
		margin-left: 2vw;
	}

	.call-btns {
	    position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 90px;
	    background-color: white;
	    margin: 0;
	}

	.signIn, .signUp {
	    display: inline-block;
	    margin: 30px 22px;
	    width: unset;
	    height: unset;
	    border-radius: 10px;
	    border: none;
	    background-color: white;
	    font-size: 25px;
	    float: right;
	}

	.signUp {
		position: fixed;
	    bottom: 13vh;
	    padding: 25px 40px;
	    left: 35%;
	    background: transparent;
	    border: 2px solid white;
	    color: white;
	    font-size: 35px;
	    border-radius: 15px
	}

	.call-fixbackground-carosoul {
	    height: 92%;
	}

	/* End - Call To Action Page*/

	/* Begin - Sign In and Up page*/

	.signin-cont,
	.signup-cont {
	    margin: 16vh auto;
	    width: 550px;
	    display: block;
	    float: unset;
	}

	.call-ftr-list {
		display: inline-block;
		float: right;
	    margin-top: 18px;
    	margin-right: 50px;
    	font-size: 12px;
	}

	.call-edgar-icon {
		float: left;
		margin-left: 25px;

	}
	/* End - Sign In and Up page*/

}	


@media only screen and (min-width: 1200px) {
	
	/* Begin - Call To Action Page*/
	.signUp {
	    position: unset;
	    bottom: unset;
	    padding: unset;
	    left: unset;
	    background: unset;
	    border: unset;
		color: black; 
		font-size: 25px; 
		border-radius: unset; 
	}

	.signIn {
		float: left;
	}

	.call-btns {
		position: absolute;
		width: 40%;
		top: unset;
		bottom: 150px;
		left: unset;
		right: unset;
		height: 90px;
		margin: 0 30%;
		background-color: transparent;

	}

	.signUp, 
	.signIn {
		margin: 0 7%;
		color: white;
	    border: 1px solid white;
	    padding: 14px 3.2vw;
	    border-radius: 10px;
		background-color: transparent;
	}

	.call-ftr-list {
    	font-size: 15px;
	}


}